.top{
  background-color: #E4F9F5;
  position: relative;
}
.middle{
  margin: 100px auto;
}
.lower{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
h1{
  margin: 10px auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
.intro{
  width: 30%;
  margin: auto;
}
.starter{
  padding-top: 100px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  margin-top: 0px;
}


h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
body{
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.pro{
  font-weight: normal;
}
.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;

}
p{
  line-height: 2;
}

.android{
  width: 25%;
  padding: 20px;
  float: left;
}

.webdev{
  width: 25%;
  padding: 20px;
  float: left;
}

.java{
  width: 25%;
  padding: 20px;
  float: right;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.push{
  padding-bottom: 50px;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}

.lowerend{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
